.user-form {
  padding: 20px;
}

.mat-form-field {
  width: 100%;
}

button {
  min-width: 150px;
  margin-left: 10px;
}


.background-image-container {
  background-image: url('../../../assets/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* For mobile devices */
@media (max-width: 767px) {
  body {
    height: 100vh;
  }
}

/* For tablets and desktops */
@media (min-width: 768px) {
  body {
    height: 100px;
  }
}