
<!-- <div style="display: flex; justify-content: space-between; align-items: center; padding: 2%;">
        <h1>Hi &nbsp;<strong>{{userName}}</strong></h1>
        <button mat-raised-button color="accent" (click)="revealEstimates()">Reveal
            Estimates</button>
        <button mat-raised-button color="warn" (click)="resetEstimates()">Reset</button>
        <button mat-raised-button color="primary" [cdkCopyToClipboard]="invitationUrl" (click)="onCopyclick()">
            <span style="margin-right: 10px;">Invite Others to join</span>
            <span style="margin-right: 10px; color: black"> - </span> {{ copyButton }}
        </button>
    </div> -->

    <!-- <div *ngIf="isNameEntered" class="invitation-url-section footer" style="text-align: center;">
        <section style="display: flex; align-items: center;  justify-content: center; ">
            <button mat-raised-button color="primary" [cdkCopyToClipboard]="invitationUrl" (click)="onCopyclick()">
                <span style="margin-right: 20px;">Invitation Url</span>
                <span style="margin-right: 20px; color: black"> {{ invitationUrl }} </span> {{ copyButton }}
            </button>
        </section>
    </div> -->