.grid-container {
  display: flex;
  flex-direction: row;
  width: 100%;

}

.table-container {
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

.left-side {
  width: 40%;
  padding: 1%;
}

.average-points {
  margin-top: 20px;
}

.right-side {
  width: 50%;
  padding: 1%;

}

.chart-container {
  display: flex;

}